<div class="book book-<%= book.id %> col-md-6 p-1">

  <div class="list-group">

    <div class="list-group-item list-group-item-action">

      <%= link_to book_path(book), class: 'd-flex justify-content-between align-items-center' do %>

        <%= book.title %>

        <span class="badge badge-dark badge-pill">
          <%= book.available_copies.count %>
          /
          <%= pluralize(book.copies.count, 'copy') %>
        </span>

      <% end %>

      <p class="text-muted">
        <%= book.author.blank? ? 'Author Unknown' : book.author %>
      </p>

      <% if mode==:display %>
        <p class="card-text">
          Published by <%= book.publisher.blank? ? '(Unknown)' : book.publisher %>
        </p>

        <p class="card-text">
          <%= book.genre.titleize %> <%= wrap_parens(book.subgenre) %>
        </p>

        <p class="card-text">
          <%= book.pages %> pages
        </p>
      <% end %>

      <% unless current_user.nil? %>
        <div class="text-right">
          <% if book.available_copies.count.zero? %>

            Out of Copies (
            <% if current_user.notification_pending_for?(book) %>
              Notification Pending
            <% else %>
              <%= link_to 'Notify me when available', book_notification_requests_path(book), method: :post %>
            <% end %>
            )


          <% else %>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button"
                      data-toggle="dropdown">Borrow</button>
              <div class="dropdown-menu">
                <% @branches.each do |branch| %>
                  <% if branch.carries_available_copy_of?(book) %>
                    <%= button_to checkouts_path,
                                method: :post,
                                params: {book_id: book.id,
                                         branch_id: branch.id},
                                class: 'dropdown-item' do %>
                      <%= branch.name %> (<%= book.copies_at(branch).available.count %>)
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>


          <% end %>
        </div>
      <% end %>


    </div>

    <% if current_user&.is_admin? %>
      <div class="list-group-item text-right"> Admin Only:
        <%= link_to 'Edit this Book', edit_book_path(book) %>
      </div>
    <% end %>

  </div>

</div>


