<div class="book book-<%= book.id %> col-md-6 p-1">

  <div class="list-group">

    <div class="list-group-item list-group-item-action">

      <%= link_to book_path(book), class: 'd-flex justify-content-between align-items-center' do %>
        <%= book.title %>
        <span class="badge badge-dark badge-pill">
          <%= book.copies.available.count %>
          /
          <%= pluralize(book.copies.count, 'copy') %>
        </span>
      <% end %>

      <p class="text-muted"><%= book.author || 'Author Unknown' %></p>

      <% unless current_user.nil? %>
        <div class="text-right">
          <% if book.copies.available.count.zero? %>
            Out of Copies
          <% else %>
            <%= button_to 'Borrow', checkouts_path,
                          params: {book_id: book.id},
                          method: :post,
                          class: 'btn btn-primary btn-sm text-right'%>
          <% end %>
        </div>
      <% end %>


    </div>

    <% if current_user&.is_admin? %>
      <div class="list-group-item text-right"> Admin Only:
        <%= link_to 'Edit this Book', edit_book_path(book) %>
      </div>
    <% end %>

  </div>

</div>


