<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag('candlekeep_icon.png', width: '30', height: '30') %>
    <span>Candlekeep</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUser" aria-controls="navbarUser" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarUser">

    <div class="navbar-nav">
      <%= link_to 'Browse Library', books_path, class: 'nav-item nav-link text-nowrap' %>
    </div>

    <ul class="navbar-nav d-flex justify-content-end w-100">
      <!--<li class="nav-item navbar-text"><%# user_nav[:time] %></li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false"><%= user_nav[:dropdown][:type] %></a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item"><strong><%= user_nav[:dropdown][:name] %></strong></div>
          <div class="dropdown-divider"></div>
          <%= raw user_nav[:dropdown][:links].join(' ') %>
        </div>
      </li>
    </ul>

  </div>

</nav>
