<!DOCTYPE html>
<html>
  <head>
    <title>Candlekeep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg  %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12 py-md-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
